@import "../../global.scss";

.menu{
    width: 25vw;
    height: 100vh;
    background-color: $topBarAndMenuBackground;
    position: fixed;
    top: 0;
    right: calc(-25vw - 300px);  
    min-width: 300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    transition: all 1.5s ease;
    margin-top: 70px;
 
    &.active{
        right: 0;
        background-color: $activeTopBarAndMenuBackground;
        min-width: 300px;
    }
    ul{
       
        margin-top: 8vh;
        padding: 0;
        list-style: none;
        color:$activeTextColorForBarMenu;
        font-weight: 300;
        width: 100%;
    }
    li{
        
        margin-bottom: 2vh;
        a{
            font-size: calc(.9rem + 1.6vw);;
            color: inherit;
            text-decoration: none;
        }
        &:hover{
            font-weight: 700;
        }
    }
}