@import "../../global.scss";
.Bar{
    width: 100%;
    height: 70px;
    background-color:$topBarAndMenuBackground;
    color: $textColorForBarMenu;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    font-size: 30px;
    scrollbar-width: none;

    .wrapper{
        padding: 2vh 2vw 2vh 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{

            display: flex;
            align-items: center;
            margin: 0px 0px;
            font-size: calc(1.4rem + .8vw);
            .logo{
                font-size: .95em;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 3vh;
            }
            .itemContainer{
                color: inherit;
                display: flex;
                align-items: center;
                margin-left: 3vw;
                .icon{ 
                    font-size: .7em;
                    margin-right: 1vh;
                }
                span{
                    font-size: .7em;
                    font-weight:300;
                }
            }
        }
        .right{
        margin: 0px;
            .hamburger{
                display: flex;
                flex-direction: column;
                width: 2.5vw;
                min-width: 30px;
                height: 2vh;
                min-height: 25px;
                justify-content: space-between;
                cursor: pointer;

                span{
                    width: 100%;
                    height: 15%;
                    background-color:$textColorForBarMenu;
                    //transform: ;
                    transition: all 1s ease;
                }
            }
        }
    }
    &.active{
        background-color:$activeTopBarAndMenuBackground;
        color:$activeTextColorForBarMenu;
        scrollbar-width: none;
        .hamburger{
            span{
                &:first-child{
                    background-color: $activeTextColorForBarMenu;
                }
                &:nth-child(2){
                    background-color: $activeTextColorForBarMenu;
                }
                &:last-child{
                    background-color: $activeTextColorForBarMenu;
                }
            }
        }
         
    }
}