$mainColor: rgb(67, 100, 211);
$startBlue: rgb(206,235,251);

$endBlue: rgb(102,167,197);
$theRed: rgb(238,50,51);
$theWhite: rgb(240,236,235);
$theGrey: rgb(108,116,118);


$portfolioBack:rgb(163,214,245);

//Main Background color
$mainBackgroundColor: rgb(163,214,245);

//Top Bar and Menu colors
$topBarAndMenuBackground: rgb(102,167,197);
$textColorForBarMenu:rgb(240,236,235);
$activeTopBarAndMenuBackground:rgb(206,235,251);
$activeTextColorForBarMenu:rgb(43, 63, 129);
